<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Blackjack Statistics</title>
    <link rel="stylesheet" href="../css/app.css">
  </head>
  <body>
    <div class="main-stats-container">
      <h1 class="text-shadow">My Blackjack Statistics</h1>
      <div id="stats-container">

      </div>
      <a href="../index.html"><button id="btn-stats" type="button">Return to Blackjack</button></a>
    </div>
    <script type="text/javascript" src="../js/getStats.js"></script>
  </body>
</html>
